body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    
}

.stations-list>ul {
    display: flex;
    justify-content: space-between;
}
.stations-list>ul>li {
    text-align: center;
    font-size: 30px;
    list-style-type: none;
    color: black;
}


#station-name{
    font-size: 40px;
}

.player{
   width: 100%;
   margin: 90px auto;
}

#play {
    margin: 0 20%;
}
.navigate-inline>img{
    width: 200px;
    height: 200px;
}

.navigate-inline{
    margin-bottom:10%; 
}